.main_container {
  width: 90%;
  margin: 100px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table_setup {
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input_rows_and_cols{
  width: 50%;
  height: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
input{
  height: 40px;
  width: 100%;
  margin: 2px;
  border-radius: 5px;
 }

.directions{
  width: 50%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.traverse_left_right{
  width: 60%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.top{
  transform: rotate(180deg);
}

.left{
  transform: rotate(90deg);
}
.right{
  transform: rotate(-90deg);
}


table{
  border-collapse: collapse;
}
td {
  width: 20px;
  height: 20px;
  border: black 1px solid;
  overflow: scroll;
}
td.active {
  width: 20px;
  height: 20px;
  color: rgb(0, 255, 76);
  border: black 1px solid;
  overflow: scroll;
}
tr {
  width: 20px;
  height: 20px;
}
tr:active {
  width: 20px;
  height: 20px;
  color: rgb(0, 255, 76);
}
